<p id="notice"><%= notice %></p>

<h1>Tnpscs</h1>
<div class="container-fluid">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Post</th>
      <th>Qualification</th>
    </tr>
  </thead>

  <tbody>
    <% @tnpscs.each do |tnpsc| %>
      <tr>
        <td><%= tnpsc.Post %></td>
        <td><%= tnpsc.Qualification %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', tnpsc %></td>
        <td><%= link_to 'Edit', edit_tnpsc_path(tnpsc) %></td>
        <td><%= link_to 'Destroy', tnpsc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tnpsc', new_tnpsc_path %>
</div>
