<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @tnpsc.Post %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @tnpsc.Qualification %>
</p>

<%= link_to 'Edit', edit_tnpsc_path(@tnpsc) %> |
<%= link_to 'Back', tnpscs_path %>
