<%= form_for(joblist) do |f| %>
  <% if joblist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(joblist.errors.count, "error") %> prohibited this joblist from being saved:</h2>

      <ul>
      <% joblist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PostDate %>
    <%= f.date_select :PostDate %>
  </div>

  <div class="field">
    <%= f.label :JobTitle %>
    <%= f.text_field :JobTitle %>
  </div>

  <div class="field">
    <%= f.label :Qualification %>
    <%= f.text_field :Qualification %>
  </div>

  <div class="field">
    <%= f.label :LastDate %>
    <%= f.date_select :LastDate %>
  </div>

  <div class="field">
    <%= f.label :MoreInfo %>
    <%= f.text_field :MoreInfo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
