
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

</style>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2><%= @rrb.PostName %></h2>
          </div>
        </div>
        <div class="w3-container">
          <h4>PostName:<%= @rrb.PostName %></h4>
          <hr>
          <h5>Number of Post:<%= @rrb.TotalPost %></h5>
          <hr>
          <h5><b>Description</b></h5>
          <p style="text-align:justify"><b><%= @rrb.Description %><b></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Important Dates</b></p>
          <p>Starting Date for Apply Online & Payment of Fee</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= @rrb.TotalPost %></h6>
          </div>
          <p>Last Date to Apply Online & Payment of Fee</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= @rrb.TotalPost %></h6>
          </div>
          <p>Last Date for printing of application</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= @rrb.TotalPost %></h6>
          </div>
          <p>Date for Download of Call letter for Examination</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= @rrb.TotalPost %></h6>
          </div>
          <p>Date of Examination (Tentative)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= @rrb.TotalPost %></h6>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Official Advetisement</b></p>
          <p>Click here for Recruitment Advt</p>
          <div class="w3-light-grey w3-round-xlarge">
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i><%= @rrb.PostDate %><a href="default.asp" target="_blank"><span style="color:green;font-weight:bold;hover:none">Apply Here</span></a></h2>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Last Date</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= @rrb.TotalPost %></h6>
          <hr>
        </div>
         <div class="w3-container">
          <h5 class="w3-opacity"><b>Vacency details</b></h5>
          <p style="text-align:justify"><%= @rrb.VacancyDetails %></p><br>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Application Fees</b></h5>
          <p style="text-align:justify"><%= @rrb.ApplicationFee %></p><br>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Qualification And Age Limit</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Qualification</b></h5>
          <p style="text-align:justify"><%= @rrb.EducationalQualification %></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Age Limit</b></h5>
          <p style="text-align:justify"><%= @rrb.AgeLimit %></p>
          <hr>
        </div>
         <div class="w3-container">
          <h5 class="w3-opacity"><b>Selection Process</b></h5>
          <p style="text-align:justify"><%= @rrb.EducationalQualification %></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>How to Apply</b></h5>
          <p style="text-align:justify"><%= @rrb.AgeLimit %></p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>

